body {
    font-family: 'Poppins', sans-serif; /* Choose a modern font */
    line-height: 1.6;
    color: #333;
    background-color: #f5f5f5; /* Light grey background for a sleek look */
}

h1, h2, h3, h4, h5 {
    font-weight: 600; /* Semi-bold headings */
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 2rem;
}

.card {
    border: none; /* Remove borders from cards */
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); /* Add a subtle shadow */
}

.navbar {
    padding: 1rem 2rem; /* Increase padding in navbar */
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.1); /* Add a subtle shadow */
}

.form-control {
    border-radius: 0; /* Rectangular input fields */
}

.btn {
    border-radius: 0; /* Rectangular buttons */
}
footer {
    text-align: center; 
}
