<!DOCTYPE html>
<html>
<head>
    <meta charset="iso-8859-2">
    <title>SCHODY MIECZKOWSKI, Producent Schodów Drewnianych i metalowych, schody, schody drewniane, schody na beton, schody samonośne, schody z drewna, schody Warszawa</title>
    <meta name="description" content="Firma Schody Mieczkowski ...">
    <!-- You can add more meta tags here -->

    <!-- Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Replace CSS file path with Flask's static path if needed -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    

    <!-- Add more head tags here if needed -->
</head>
<body>
    {% include "nav.html" %}
    {% block content %}
    {% endblock %}
  
    {% include "footer.html" %}

    <!-- Bootstrap JS from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Replace JS file path with Flask's static path if needed -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
