{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Formularz Schody Samnośne</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
      {{ form.email.label }}<br>
      {{ form.email(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.wood_type.label }}<br>
      {{ form.wood_type(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.stairs_type.label }}<br>
        {% for subfield in form.stairs_type %}
          <img src="{{ url_for('static', filename='images/template/' ~ image_paths[subfield.label.text]) }}">
          <label>
            {{ subfield }} {{ subfield.label }}
          </label><br>
        {% endfor %}
      </div>
      
      
    <div class="form-group">
      {{ form.stairs_with.label }}<br>
      {% for subfield in form.stairs_with %}
      {{ subfield }} {{ subfield.label }}
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.balustrade_type.label }}<br>
      {% for subfield in form.balustrade_type %}
      {{ subfield }} {{ subfield.label }}
      {% endfor %}
    </div>

    <div class="form-group">
        {{ form.stairs_width_cm.label }}<br>
        {{ form.stairs_width_cm(class="form-control") }}
        <img src="{{ url_for('static', filename='images/template/' ~ image_paths['stairs_width_cm']) }}">
      </div>
      
    <div class="form-group">
      {{ form.floor_height_cm.label }}<br>
      {{ form.floor_height_cm(class="form-control") }}
      <img src="{{ url_for('static', filename='images/template/' ~ image_paths['floor_height_cm']) }}">
    </div>

    <div class="form-group">
      {{ form.ceiling_hole_width_cm.label }}<br>
      {{ form.ceiling_hole_width_cm(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.ceiling_hole_length_cm.label }}<br>
      {{ form.ceiling_hole_length_cm(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.will_be_colored.label }}<br>
      {% for subfield in form.will_be_colored %}
      {{ subfield }} {{ subfield.label }}
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.additional_information.label }}<br>
      {{ form.additional_information(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.other_info.label }}<br>
      {{ form.other_info(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
