{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Galeria</h1>
    
    <div>
        {% for category, subcategories in categories.items() %}
        <div class="card" style="width: 18rem;">
            {% if category_images[category] %}
            <!-- <a href="{{ url_for('category', category=category) }}">
                <img src="{{ url_for('static', filename=category_images[category]) }}" class="card-img-top square-thumbnail" alt="{{ category }}">
            </a> -->
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                   {{ category.capitalize() }}
                </h5>
                <div class="row">
                    {% for subcategory in subcategories %}
                    <div class="col-md-6">
                        <a href="{{ url_for('category', category=subcategory) }}">
                            <img src="{{ url_for('static', filename=subcategory_images[subcategory]) }}" class="img-thumbnail square-thumbnail" alt="{{ subcategory }}">
                            {{ subcategory }}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
