{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Galeria</h1>
    
    {% for category, subcategories in categories.items() %}
    <nav>
        <ul>
            <li>{{ category.capitalize() }}
                <ul>
                    {% for subcategory in subcategories %}
                    <li><a href="{{ url_for('category', category=subcategory) }}">{{ subcategory }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
    {% endfor %}
    
    <!-- <div class="row">
        {% for image in images %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='images/' + image) }}" alt="{{ image }}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">{{ image }}</a>
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->
</div>
{% endblock %}
