{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for product in images %}
                <div class="col-md-4">
                    <figure class="gallery-figure">
                        <a href="{{ url_for('product', category=request.path.split('/')[-1], product=product['description']) }}">
                            <img src="{{ url_for('static', filename=product['images'][0]) }}" class="gallery-image square-thumbnail" alt="{{ product['description'] }}">
                            <figcaption class="gallery-caption">{{ product['description'] }}</figcaption>
                        </a>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
