{% extends "base.html" %}

{% block content %}
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ url_for('static', filename='images/template/feature_project2.jpeg') }}" class="feature_image img-fluid" alt="Staircase">
      </div>
      <div class="col-md-6">
        <div class="text-content">
          <p class="text">
            <span class="logo_in_text">{{ site_title }}</span> od wielu lat cieszy się uznaniem jako producent najwyższej jakości schodów drewnianych, balustrad, antresol i innych unikalnych produktów z drewna. Jako pasjonaci rzemiosła, stawiamy zadowolenie naszych klientów na pierwszym miejscu - to jest sedno naszej misji.
          </p>
          <p class="text">
            Nasze schody drewniane, samonośne czy obłożenia istniejących schodów betonowych są wykonane z precyzją, którą gwarantuje wieloletnie doświadczenie i najlepsze materiały. Dzięki temu nasi Klienci zawsze są zadowoleni z efektów końcowych naszych zamówień.
          </p>
          <p class="text">
            Zapewniamy pełną obsługę - od projektowania i aranżacji, przez doradztwo, aż po montaż.
          </p>
          <p class="text">
            Serdecznie zapraszamy do odwiedzenia naszej galerii, gdzie można zobaczyć niektóre z naszych realizacji.
          </p>
          <p class="text">
            Zapraszamy również do odwiedzenia naszego warsztatu, gdzie mogą Państwo na własne oczy zobaczyć naszą wystawę schodów i balustrad.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
