{% extends "base.html" %}
{% block content %}

  <!-- Continue with your site's layout -->
  <section class="content">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="no-break">
                <span class="logo_in_text">{{site_title}}</span> to od wielu lat, istniejący na rynku producent schodów drewnianych, balustrad, antresol oraz innych produktów z drewna. Jako producent schodów cenimy zadowolenie Klientów jednocześnie stawiając sobie priorytet swego działania.
            </p>
            <p class="no-wrap-short-words">
              Schody drewniane, samonośne bądź obłożenie drewnem istniejących schodów betonowych oraz inne produkty, które oferujemy są precyzyjnie wykonane a w połączeniu z wieloletnim doświadczeniem i najlepszym materiałem jaki wykorzystujemy, sprawiają, że nasi Klienci są zadowoleni z efektów końcowych zamówień.
            </p>
            <p class="no-wrap-short-words">
              Zapewniamy pełną obsługę, zaczynając od projektowania, aranżacji, doradztwa kończąc na montażu.
            </p>
            <p class="no-wrap-short-words">
              Zapraszamy do odwiedzenia galerii, gdzie można zobaczyć niektóre nasze realizacje.
            </p>
            <p class="no-wrap-short-words">
              Zapraszamy również do naszego warsztatu gdzie możecie Państwo obejrzeć naszą wystawę schodów i balustrad.
            </p>
          </div>
        </div>
      </div>
      
</section>
 

  <!-- Footer -->
{% endblock %}
