{% extends "base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <!-- Add your specific content here -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>SCHODY MIECZKOWSKI</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Address:</h5>
                        <address>
                            05-071 Sulejówek<br>
                            ul. Żelazna 28<br>
                            woj. mazowieckie
                        </address>
    
                        <h5 class="card-title">Telephone:</h5>
                        <address>
                            • Janusz Mieczkowski: <a href="tel:+48601-392-771">601-392-771</a><br>
                            • Rafał Mieczkowski: <a href="tel:+48791-501-528">791-501-528</a>
                        </address>
    
                        <h5 class="card-title">Internet:</h5>
                        <address>
                            <a href="http://www.mieczkowski.com.pl">www.mieczkowski.com.pl</a>
                        </address>
    
                        <h5 class="card-title">E-mail:</h5>
                        <address>
                            <a href="mailto:biuro@mieczkowski.com.pl">biuro@mieczkowski.com.pl</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
