{% extends "base.html" %}

{% block title %}Oferta{% endblock %}

{% block content %}
    <!-- Add your specific content here -->
    <div class="container">
      
        <h3 class="mb-3">Projektowanie, produkcja i montaż:</h3>
      
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Schody drewniane
            <ul>
              <li>Samonośne</li>
              <li>Obkładanie istniejących schodów betonowych drewnem</li>
            </ul>
          </li>
          <li class="list-group-item">Schody na konstrukcji metalowej</li>
        </ul>
      
        <h3 class="mt-4 mb-3">Różnego typu balustrady:</h3>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Połączenie drewna z metalem</li>
          <li class="list-group-item">Z wypełnieniem szklanym lub całe balustrady szklane</li>
          <li class="list-group-item">Z tralkami toczonymi jak i prostymi</li>
          <li class="list-group-item">Z elementami kutymi oraz całe balustrady kute w dowolnym wzorze</li>
        </ul>
      
        <h3 class="mt-4 mb-3">Dodatkowe oferty:</h3>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Wykonujemy antresole drewniane i metalowe o różnych kształtach i rozmiarach</li>
          <li class="list-group-item">Oraz parapety i blaty klejone z drewna litego</li>
        </ul>
      
        <h3 class="mt-4 mb-3">Drewna wykorzystywane do produkcji:</h3>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Krajowe
            <ul>
              <li>Dąb, dąb czerwony, jesion, thermojesion, sosna</li>
            </ul>
          </li>
          <li class="list-group-item">Egzotyczne
            <ul>
              <li>Amazakque, doussie, merbau, sapeli, teak, tauari (dąb brazylijski), wenge, orzech amerykański, iroko oraz inne</li>
            </ul>
          </li>
        </ul>
      
        <h3 class="mt-4 mb-3">Dodatkowe usługi:</h3>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Barwienie drewna w dowolnym kolorze wybranym przez Klienta</li>
          <li class="list-group-item">Na życzenie montujemy oświetlenie LED lub halogeny</li>
        </ul>
      
      </div>
      
{% endblock %}
