{% extends "base.html" %}

{% block content %}
    <div class="row portfolio">
        <div class="col-md-2 sidegallery scrollable-div">
            {% for image in product['images'] %}
                <img src="{{ url_for('static', filename=image) }}" class="img-thumbnail my-2 product-img " alt="product image" data-index="{{ loop.index0 }}">
            {% endfor %}
        </div>

        <div class="col-md-8 image-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in product['images'] %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{{ 'active' if loop.first else '' }}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in product['images'] %}
                        <div class="carousel-item {{ 'active' if loop.first else '' }}">
                            <img src="{{ url_for('static', filename=image) }}" class="d-block w-100" alt="product image">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-md-2">
            <div class="product-content show-more-less opened">
                <p><strong>{{ product['name'] }}</strong></p>
        
                {% for paragraph in product['description'].split('\n') %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            <div class="more-less-buttons">
                <a href="#" class="more-button" data-action="opened" style="display: none;">Show More</a>
                <a href="#" class="less-button" style="" data-action="closed">Show Less</a>
            </div>
        </div>
    </div>
{% endblock %}
