{% extends "base.html" %}

{% block content %}
    <div class="row portfolio">
        <div class="col-md-2 sidegallery scrollable-div">
            {% for image in product['images'] %}
                <img src="{{ url_for('static', filename=image) }}" class="img-thumbnail my-2 product-img " alt="product image" data-index="{{ loop.index0 }}">
            {% endfor %}
        </div>

        <div class="col-md-8 image-container">
            {% for image in product['images'] %}
                <img src="{{ url_for('static', filename=image) }}" class="d-block scaling-image" alt="product image">
            {% endfor %}
        </div>

        <div class="col-md-2">
            <h2 class="album-name">{{ product['name'] }}</h2>
            <div class="desc">
                <p>{{ product['description'] }}</p>
            </div>
        </div>
    </div>
{% endblock %}
